<div class="plan-form">
    <h1>予定追加</h1>
    <%= form_with(model: @plan, local: true) do |f| %>
        <%= hidden_field_tag :group_id, @group.id %>
        <%= f.label :datetime, "集合日時" %>
        <div class="plan-datetime">
            <%= f.datetime_select :datetime, use_month_numbers: true %>
        </div>
        
        <%= f.label :place, "場所" %>
        
        <div class="map">
            <%= f.text_field :place, class: "place", id: "address", placeholder: "場所を地図で確認してください" %>
            <input type="button" value="地図を表示" onclick="codeAddress()" class="map-button">
        </div>
        <%= f.label :content, "内容" %>
        <%= f.text_area :content, class: "content" %>
        <div class="submit">
            <%= f.submit "追加" %>
        </div>
    <% end %>
</div>


<div id='map'>
</div>
<script>
/*
mapを関数の外で定義(codeAddressでも使うため)
geocoderを用意
*/
var map
var geocoder
function initMap(){
  // geocoderを初期化
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  zoom: 15
  });
}

function codeAddress(){
  // 入力を取得
  let inputAddress = document.getElementById('address').value;
  console.log(inputAddress)
  // geocodingしたあとmapを移動
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
　　　　　　　　　　　　// map.setCenterで地図が移動
　　　console.log(results)
      map.setCenter(results[0].geometry.location);

　　　　　　　　　　　　// google.maps.MarkerでGoogleMap上の指定位置にマーカが立つ
      marker = new google.maps.Marker({
          map: map,
          position: results[0].geometry.location
      });
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_GOOGLE'] %>&callback=initMap" async defer></script>

